.todo-item {
  width: 530px;
  padding: 25px 15px;
  margin-bottom: 25px;
  border: .5px solid #eee;
  border-radius: 5px;
  background-color: #1B262C;
  display: flex;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.close {
  margin-left: 15px;
}

.closed {
  color: #ffcd1e90;
}



.todoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

svg {
  cursor: pointer;
}
.iconRemove {
  border: none;
  background-color: transparent;
  outline: none;
}